

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    background-color: #163247;
}

.navigation {
    margin: 10px;
}

.navigation > a {
    padding: 15px;
    color: #fff;
}
